#content {
    margin: 1em 0;
    max-width: 100%;
}

#search-container {
    text-align: center;
}

.article-panel-outer {
    display: inline-block;
    margin: 1em;
    
    text-align: left;
}

.article-panel {
    position: relative;
    margin-bottom: -1em;
}

.article-thumb {
    width: 400px;
    height: 300px;
}

.overlay {
    position: absolute;
    top: 220px;
    left: 0;
    
    width: 100%;
    height: 80px;
    
    background: rgba(0, 0, 0, 0.7);
}

.article-title {
    position: absolute;
    top: 220px;
    left: 0;
    
    padding: 0.5em;
    
    color: #FFFFFF;
    
    font-size: 20px;
    font-weight: 900;
}

.article-link {
    position: absolute; 
    top: 0;
    left: 0;
    
    width: 400px;
    height: 300px;

    z-index: 1;
    
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transition: all 0.3s ease-in-out;
}

.article-link:after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
/*    box-shadow: 0 8px 17px 0 var(--accent-color);*/
    box-shadow: 0 8px 17px 0 rgba(0, 0 ,0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.article-link:hover:after {
    opacity: 1;
}
