h1 {
    margin-top: 1em;
}

p:first-child:first-letter {
    display: block;
    float: left;
    margin: 0.25em 0.125em 0.25em 0;
    
    font-size: 5em;
    color: #D67902;
}

blockquote {
    font-size: 1.25em;
    line-height: 150%;
    border-left: 0.3125em solid #D67902;
}

.article-photo {
    height: 20em;
    margin-bottom: 2em;
    box-shadow: 0 0.125em 0.3125em 0 rgba(0, 0, 0, 0.26);
}

.jssocials-share-link {
    border-radius: 50%;
}

#social-container {
    display: none;
}

#mobile-social {
    text-align: center;
    font-size: 0.85em;
}

/*
 * 375
 */
@media only screen and (min-width: 23.4375em) {
    p {
        font-size: 1.1em;
    }
    
    #mobile-social {
        font-size: 1em;
    }
}

/*
 * 425
 */
@media only screen and (min-width: 26.5625em) {
    .article-photo {
        height: 21.75em;
    }
    
    #mobile-social {
        font-size: 1.125em;
    }
}

/*
 * 768
 */
@media only screen and (min-width: 48em) {
    h1 {
        text-align: center;
    }
       
    .article-photo {
        height: 30em;
    }
    
    .jssocials-share {
        display: block;
        margin: 0.3em;
    }
    
    #article-container {
        margin: 0 auto;
        width: 68%;
    }
    
    #social-container {
        display: block;
        float: right;
    }

    #social-share {
        position: fixed;

        margin-left: 1em;
        padding: 0.5em;

        text-align: center;

        border: 1px solid #D3D3D3;
        border-bottom: 3px solid #D67902;
        border-radius: 3px;
    }

    #mobile-social, #mobile-share-label {
        display: none;
    }
}

/*
 * 1024
 */
@media only screen and (min-width: 64em) {
    #article-container {
        width: 55%;
    }
}

/*
 * 1440
 */
@media only screen and (min-width: 90em) {
    .article-photo {
        height: 30.8em;
    }
    
    #article-container {
        width: 40%;
    }
}

/*
 * 1920
 */
@media only screen and (min-width: 120em) {
    #article-container {
        width: 30%;
    }
}

/*
 * 2560
 */
@media only screen and (min-width: 160em) {
    #article-container {
        width: 22%;
    }
}
