h2 {
    font-size: 2em;
}

md-dialog p {
    margin: 0;
    font-size: 1em;
    line-height: 100%;
}

.form-control {
    border: none;
    box-shadow: none;
}

.form-control, .btn {
    border-radius: 0;
}

.btn-primary {
    height: 2.45em;

    color: #D67902;
    background-color: #FFFFFF;

    border-top: none;
    border-bottom:none;
    border-left: 0.0625em solid #000000;
    border-right: none;
    
    transition: all 0.3s ease 0s;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    color: #FFFFFF;
    background-color: #D67902;
}

#subscribe-container {
    color: #D67902;
    background-color: #000000;

    text-align: center;
}

#subscribe-content {
    margin: 0 auto;
    padding-top: 0.125em;
    padding-bottom: 1em;

    width: 90%;
}

/*
 * 768
 */
@media only screen and (min-width: 48em) {
    #subscribe-content .input-group {
        margin: 0 auto;
        width: 90%;
    }
}

/*
 * 1024
 */
@media only screen and (min-width: 64em) {
    #subscribe-content .input-group {
        width: 50%;
    }
}

/*
 * 1440
 */
@media only screen and (min-width: 90em) {
    #subscribe-content .btn-primary {
        height: 2.42em;
    }
}

/*
 * 1440
 */
@media only screen and (min-width: 120em) {
    #subscribe-content .input-group {
        width: 35%;
    }
}
