:root {
    --primary-color: #9E9E9E;
    --dark-primary-color: #616161;
    --light-primary-color: #F5F5F5;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #FF5252;
    --divider-color: #BDBDBD;
}

body {
    color: var(--primary-text-color);
    background-color: var(--light-primary-color);
    
    font-family: "Open Sans", sans-serif;
}

h1 {
    text-align: center;
}

p {
    margin-bottom: 1.5em;
    
    font-size: 20px;
    line-height: 180%;
}

a {
    text-decoration: underline;
}

#content {
    display: block;
    
    margin-left: auto;
    margin-right: auto;
    
    max-width: 50%;
}
