:root {
    --primary-color: #9E9E9E;
    --dark-primary-color: #000000;
    --light-primary-color: #FFFFFF;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #D67902;
    --divider-color: #BDBDBD;
    --visited-color: #AB6001;
}

body {
    font-family: "Open Sans", sans-serif;
    
    color: var(--primary-text-color);
    background-color: var(--light-primary-color);
    
    backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

h1 {
    margin: 1em 0;
}

p {
    margin-bottom: 1.5em;
    
    font-size: 20px;
    line-height: 180%;
}

a {
    position: relative;
    
    color: var(--accent-color);
    text-decoration: underline;
}

a:hover {
    color: var(--visited-color);
}

/*
a:visited {
    color: var(--visited-color);
}
*/

#content {
    display: block;
    
    margin: 0 auto;
    
    max-width: 50%;
    
    border-radius: 5px;
}

/*
 * Mobile
 */
@media only screen and
    (max-device-width: 320px),
    (max-device-width: 375px),
    (max-device-width: 425px) {
        #content {
            margin: 1em;

            max-width: 100%;

            font-size: 0.25em;
        }
}

/*
 * Tablet
 */
@media only screen and (max-device-width: 768px) {
    #content {
        margin: 0 3em;

        max-width: 100%;

        font-size: 0.25em;
    }
}